# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\yangy-cloud-develop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
